@use 'sass:map';

$breakpoints: (
    small: 40em,
    medium: 65em,
    large: 90em
);

@mixin mq-min($key) {
    $size: map.get($breakpoints, $key);
    @media (min-width: $size) {
        @content;
    }
}

@mixin mq-max($key) {
    $size: map.get($breakpoints, $key);
    @media (max-width: $size) {
        @content;
    }
}