// primary font
$primary_font: 'Lato';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$font-reg: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 30px;

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Regular/Lato-Regular.woff2') format('woff2'),
        url('../../fonts/Regular/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Light/Lato-Light.woff2') format('woff2'),
        url('../../fonts/Light/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../../fonts/Thin/Lato-Hairline.woff2') format('woff2'),
        url('../../fonts/Thin/Lato-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Bold/Lato-Bold.woff2') format('woff2'),
        url('../../fonts/Bold/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Black/Lato-Black.woff2') format('woff2'),
        url('../../fonts/Black/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

